<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid text-center">
    <h1 class="display-5 fw-bold">Queen</h1>
    <p>"I always knew I was a star, and now the rest of the world seems to agree with me."</p>
  </div>
</div>