<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <img src="{{ relative_path }}img/queen-logo-white.png" id="logo" width="130" height="40" class="d-inline-block align-baseline" alt="Queen Logo">
    <a class="navbar-brand" href="{{ relative_path }}index.html">Band</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ relative_path }}discography.html">Discography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ relative_path }}tours.html">Tours</a>
        </li>
      </ul>
    </div>
  </div>
</nav>