{% extends '_templates/base.njk' %}

{% block page_title %}Band Home Page{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
    <div class="col-md-8 offset-md-2">
  <h1>Main headline here</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in facilisis velit, aliquam congue dui. Mauris id mi quam. Nam enim leo, bibendum vel efficitur id, elementum malesuada est. Pellentesque interdum tempus eros nec iaculis. Quisque ac est dictum, vehicula nulla quis, condimentum dui.</p>
  <h2>Band Members loop</h2>
  <p>This loops through data that came from a Google Docs example.</p>
  <hr>
  {% for dude in queen.members %}
    <h3><a href="queen/{{ dude.slug }}.html" target="_blank">{{ dude.name }}</a></h3>
    <hr>
  {% endfor %}
    </div>
  </div>
</div>
{% endblock %}