{% extends '_templates/base.njk' %}

{% block page_title %}Band Home Page{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class=container>
  
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>We are the Champions</h1>
      <img src="img/queen-band-early.jpg" class="img-fluid" alt="">
      <p>Queen are a legendary British rock band formed in 1970; their lineup consisted of Freddie Mercury, Brian May, Roger Taylor, and John Deacon. Quickly rising to fame, they became the most prominent stadium rock band by the early 1980s - with many hits including "We Are the Champions" and "We Will Rock You." They have since become one of the world's best-selling music artists. </p>
      <hr>
    </div>
  </div>
  <div class="row">
    {% for dude in queen.members %}
    <div class="col-lg-6 my-3 text-center">
      <img src="img/members/{{ dude.imagebw }}" alt="" class="img-fluid">
      <h3><a class="link" href="queen/{{ dude.slug }}.html">{{ dude.name }}</a></h3>
    </div>
    {% endfor %}
    <hr>
  </div>
</div>
{% endblock %}