{% extends '_templates/base.njk' %}

{% block page_title %}Band Discography{% endblock %}

{% block page_description %}A list of all 15 of Queen's albums with year and image.{% endblock %}

{% block content %}
<div class="container">
  <h1>Queen Tour Dates</h1>
  <p>List of all upcoming tour dates for Queen.</p>
  <table class="table table-bordered border-warning">
    <thead>
      <tr>
        <th>Date</th>
        <th>City</th>
        <th>Venue</th>
      </tr>
    </thead>    
    {% for concert in queen.tour %}
    <tbody class="border-warning">
      <tr>
        <td class="border-warning">{{ concert.date }}</td>
        <td class="border-warning">{{ concert.city }}</td>
        <td class="border-warning">{{ concert.venue }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="bbb-wrapper fl-wrap">
  <div class="subcribe-form fl-wrap">
    <p class="text-center">
      Sign up to get updates on upcoming tour dates.
    </p>
    <form id="subscribe" novalidate="true">
      <input class="enteremail" name="EMAIL" id="subscribe-email" placeholder="Email" spellcheck="false" type="text">
      <button type="submit" id="subscribe-button" class="subscribe-button color-bg"><i class="fa fa-rss"></i> Subscribe</button>
      <label for="subscribe-email" class="subscribe-message"></label>
    </form>
  </div>
</div>

{% endblock %}