// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";
$warning:#7F00FF;
$secondary:#231f20;

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";


body {
  background-color: black;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 40px;
  color: white;
  letter-spacing: .5rem;
}

p {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
}

.card-text {
  color: #7F00FF;
}

.card-title {
  font-family: 'Cinzel', serif;
  font-size: 18px;
}

.link {
  color:#7F00FF
}

.link:hover {
  color: #353839;
}

#list-bg {
  background-color: #353839;
  color: white;
  border-color: white;
}

.table {
  color:white;
  border-color: #7F00FF;
}